---
import Button from "./Button.astro"
import cv from '../assets/pdf/AlexanderRodriguez.pdf';
 
  interface Props {
    curriculum: boolean,
    className: string,
    size: string
  }

  const { curriculum,className,size} = Astro.props as Props;

  const sizeClass = (size == 'sm' ) ? ('size-5') :  ('size-8');
--- 

<section class={'flex flex-col md:flex-row  gap-2 ' + className}>
      { curriculum == true && <Button type="link" href={cv} className="text-lg" aria-labelledby="curriculum" classButton="primary" sizeButton="lg" download={true}>
          Ver Curriculum</Button> }
      <div class="flex flex-row md:justify-start justify-center mt-3 md:mt-0 gap-2">
          <a name="linkedin" href="https://www.linkedin.com/in/alexrodriguez30/" aria-labelledby="linkedin" aria-label="linkedin" target="_blank" class="transition border-1 border-gray-600 p-3 rounded-full hover:cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-800">
         <svg xmlns="http://www.w3.org/2000/svg" class={sizeClass} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-linkedin-icon lucide-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
        </a>
        <a name="mail" href="mailto:xalecr30@gmailcom" target="_blank" aria-labelledby="mail" aria-label="mail" class="transition border-1 border-gray-600 p-3 rounded-full hover:cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-800 ">
          <svg xmlns="http://www.w3.org/2000/svg" class={sizeClass}  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
        </a>
        <a name="github" href="https://github.com/xalec30" target="_blank" aria-labelledby="github" aria-label="github" class="transition border-1 border-gray-600 p-3 rounded-full hover:cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-800">
          <svg aria-label="github" xmlns="http://www.w3.org/2000/svg" class={sizeClass} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-github-icon lucide-github"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
        </a>
        <a name="telegram" href="https://t.me/ajr3096" target="_blank" aria-labelledby="telegram" aria-label="telegram" class="transition border-1 border-gray-600 p-3 rounded-full hover:cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-800">
          <svg aria-label="telegram" xmlns="http://www.w3.org/2000/svg" class={sizeClass} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-icon lucide-send"><path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"/><path d="m21.854 2.147-10.94 10.939"/></svg>
        </a>
        <a href="https://open.spotify.com/user/e5xf9e1wjx0xbb3xijbuh6l7b?si=6XREuJmwQjGrLu6jox-e1Q"  aria-labelledby="spotify" aria-label="spotify" target="_blank" class="transition border-1 border-gray-600 p-3 rounded-full hover:cursor-pointer hover:bg-gray-300 dark:hover:bg-gray-800">
          <svg aria-label="spotify" xmlns="http://www.w3.org/2000/svg" class={sizeClass} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-music-icon lucide-music"><path d="M9 18V5l12-2v13"/><circle cx="6" cy="18" r="3"/><circle cx="18" cy="16" r="3"/></svg>
        </a>
      </div>
    </section>